<div class="container" ng-controller="NivelesControlador" >
  <div class="page-header">
    <h2><b>NIVELES</b></h2>
  </div>  
  <div class="row">
    <div class="col-md-6">
      <span id="niveles" ng-repeat="nivel in niveles">
          <button type="button" class="btn btn-primary btn-lg" ng-click="mostrarCategorias(nivel.id)" >{{nivel.nombre}}</button>
      </span>
    </div>
  </div>  
  <br>
  <div class="col-md-6">
    <div class="table-responsive" >
        <table class="table table-hover table-bordered text-center"  ng-show="(categorias).length">
            <thead style="background: #5a5a5a;">
            <th style="text-align: center; color: white">ID</th>
            <th style="text-align: center; color: white">NOMBRE</th>
            </thead>
            <tbody>
            <tr id="contenidoTabla" ng-repeat="data in categorias" ng-value="data.id">
                <td>{{data.id}}</td>
                <td>{{data.nombre}}</td>
            </tr>
            </tbody>
        </table>
       
    </div>
</div>
</div>